{% load static %}
<div class="container fluid">
  <div class="d-md-flexjustify-content-between align-items-center text-center">
      <h2 class="mb-2 mb-md-0 fst-italic">E D U C A T I O N</h3>
  </div>
</div>
</section>
<section class="p-4 d-xm-flex">
  <div class="container">
  <div class="card-group">
    <div class="card align-items-center text-center">
      <img src="{% static 'imgs/mitxpro.png' %}" class="mt-4 mb-3"  alt="..." height="70px" width="70px">
      <div class="card-body">
        <h5 class="card-title">Programing Certificate</h5>
        <h6 class="card-title">Full Stack Development MERN</h6>
      </div>
    </div>
    <div class="card align-items-center text-center">
      <img src="{% static 'imgs/mitx.png' %}" class="mt-3 mb-1" alt="..." height="90px" width="90px">
      <div class="card-body">
        <h5 class="card-title">Micro Master</h5>
        <h6 class="card-title">Principles of Manufacturing</h6>
      </div>
    </div>
    <div class="card align-items-center text-center">
      <img src="{% static 'imgs/ebc.png' %}" class="m-3" alt="..." height="70px" width="120px">
      <div class="card-body">
        <h5 class="card-title">MBA</h5>
        <h6 class="card-title">Major in Finance</h6>
      </div>
    </div>
    <div class="card align-items-center text-center">
      <img src="{% static 'imgs/ulsa.png' %}" class="m-3" alt="..." height="70px" width="70px">
      <div class="card-body">
        <h5 class="card-title">Bachelor of Science</h5>
        <h6 class="card-title">Mechatronics Engineering</h6>
      </div>
    </div>
  </div>
</div>
</section>