{% load static %}
<div class="container fluid" >
    <div class="d-md-flexjustify-content-between align-items-center text-center">
        <h2 class="mb-2 mb-md-0 fst-italic">E X P E R I E N C E</h3>
    </div>
</div>
</section>
<section class="p-5">
<div class="container">
    <div class="row row-cols-1 row-cols-md-3 g-4 px-2">
        <div class="col-md">
          <div class="card d-sm-flex align-items-center justify-content-between">
            <img src="{% static 'imgs/zfs.png' %}" class="img-fluid p-3" alt="..." width="150px" height="150px">
            <div class="card-body">
              <h6 class="card-title text-center fw-bold">ZF Group</h6>
              <h6 class="card-title text-center">Supplier Development</h6>
              <p class="card-text text-start">Supplier Readiness for Division E: Electrified Powertrain Systems in the Steel Components commodity. New launches management through APQP methodology</p>
            </div>
            <div>
              <a href="https://www.zf.com/mobile/en/homepage/homepage.html" class="btn btn-primary mb-3" target="_blank">Go to Site</a>
            </div>
          </div>
        </div>
        <div class="col-md">
          <div class="card d-sm-flex align-items-center justify-content-between">
            <img src="{% static 'imgs/or.png' %}" class="img-fluid py-5 my-1" alt="..." width="190px" height="200px">
            <div class="card-body">
              <h6 class="card-title text-center fw-bold">Oskar Ruegg</h6>
              <h6 class="card-title text-center">Quality Management</h6>
              <p class="card-text text-j">Launch of greenfield manufacturing facility. Head of Quality department in Mexico (Quality Managament, Quality Engineering, Quality Assurance) for High Precission Progressive Metal Stampign.</p>
            </div>
            <div>
              <a href="https://oskar-ruegg.com/?page_id=670" class="btn btn-primary mb-3" target="_blank">Go to Site</a>
            </div>
          </div>
        </div>
        <div class="col-md">
          <div class="card d-sm-flex align-items-center justify-content-between">
            <img src="{% static 'imgs/eg.png' %}" class="img-fluid py-4 my-3" alt="..." width="180px" height="170px">
            <div class="card-body">
              <h6 class="card-title text-center fw-bold">El Grande Group</h6>
              <h6 class="card-title text-center">Project Management</h6>
              <p class="card-text text-j">Project Management for launching greenfield manufacturing operations. Launched operations: High preasure Die Casting, Metal Stamping & Aluminum Casting</p>
            </div>
              <div>
                <a href="https://www.elgrandegroup.com/" class="btn btn-primary mb-3" target="_blank">Go to Site</a>
              </div>
          </div>>
        </div>
      </div>
</div>