{% load static %}
<div class="container fluid">
  <div class="d-md-flexjustify-content-between align-items-center text-center" id="experience">
      <h2 class="mb-2 mb-md-0 fst-italic">E D U C A T I O N</h3>
  </div>
</div>
</section>
<section class="pb-5 d-xm-flex">
  <div class="card m-auto mt-4" style="max-width: 50%;">
    <div class="row g-0">
        <div class="card-body text-center">
          <img src="{% static 'imgs/bstp.png' %}" class="m-3" alt="..." height="60px" width="60px">
          <img src="{% static 'imgs/html5.png' %}" class="m-3" alt="..." height="90px" width="90px">
          <img src="{% static 'imgs/css3.png' %}" class="m-3" alt="..." height="90px" width="70px">
          <img src="{% static 'imgs/js.png' %}" class="m-4" alt="..." height="90px" width="70px">
          <br>
          <img src="{% static 'imgs/vba.png' %}" class="m-auto" alt="..." height="100px" width="100px">
          <img src="{% static 'imgs/py.png' %}" class="m-3" alt="..." height="100px" width="100px">
          <img src="{% static 'imgs/pds.png' %}" class="m-auto" alt="..." height="70px" width="210spx">
          <img src="{% static 'imgs/dj.png' %}" class="m-3" alt="..." height="70px" width="180px">
          <img src="{% static 'imgs/pstql.png' %}" class="m-auto" alt="..." height="90px" width="90px">
        </div>
    </div>
  </div>