{% load static %}
<section class="bg-black text-light text-center text-sm-start pt-5 mt-4" id="aboutme">
  <div class="container">
  <div class="d-sm-flex align-items-center justify-content-between" style="width: auto;">
      <div>
          <h1><span class="text-warning"><b>Marco Pardo</b></span></h1>
          <p class="lead my-3 fs-5">
              Mechatronic Engineer with 8+ years of experience, including international experience within automotive industry between
              Mexico, Switzerland, Bulgaria and USA in APQP Project Management, Continuous Improvement and Quality Management.
          </p>
          <a href="{% static 'cv/Resume_MPA.pdf' %}" class="btn btn-primary btn-lg m-1" target="_blank">Get Resume</a>
      </div>
  <img class="img-fluid px-3 py-5" src="{% static 'imgs/profile2.png' %}" alt="profile" width="300px" height="300px">
  </div>
</section>