{% load static %}
<div class="container fluid">
    <div class="d-md-flexjustify-content-between align-items-center text-center">
        <h2 class="mb-2 mb-md-0 fst-italic">P R O J E C T S</h3>
    </div>
</div>
</section>
<section class="pb-4 d-sm-flex align-items-center">
  <div class="card mb-3 m-5" style="max-width: 540px;">
    <div class="row g-0">
      <div class="col-md-4 d-sm-flex align-items-center justify-content-between">
        <img src="{% static 'imgs/pvl.png' %}" class="img-fluid rounded-start px-3" alt="...">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">PAVEL Infraestructure</h5>
          <p class="card-text">Creation of a standalone system to calculate best hymidity factor for Soil Mechanics.</p>
          <p class="card-text"><small class="text-muted">Technologies:</small></p>      
          <img src="{% static 'imgs/vba.png' %}" class="img-fluid ms-5" alt="..." height="60px" width="60px">
        </div>
      </div>
    </div>
  </div>

  <div class="card mb-3 m-5" style="max-width: 540px;">
    <div class="row g-0">
      <div class="col-md-4 d-sm-flex align-items-center justify-content-between">
        <img src="{% static 'imgs/pvl.png' %}" class="img-fluid rounded-start px-3" alt="...">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">PAVEL Soil Mechanics Complete Software</h5>
          <p class="card-text ">Creation of whole software for PAVEL Materials Laboratory.</p>
          <p class="card-text"><small class="text-muted">Technologies:</small></p>      
          <img src="{% static 'imgs/py.png' %}" class="ms-3" alt="..." height="40px" width="40px">
          <img src="{% static 'imgs/pds.png' %}" class="ms-3" alt="..." height="40px" width="105spx">
          <img src="{% static 'imgs/pstql.png' %}" class="ms-3" alt="..." height="50px" width="50px">
        </div>
      </div>
    </div>
  </div>
  
  <div class="card mb-3 m-5" style="max-width: 540px;">
    <div class="row g-0">
      <div class="col-md-4 d-sm-flex align-items-center justify-content-between">
        <img src="{% static 'imgs/kainos.png' %}" class="img-fluid rounded-start px-3" alt="...">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">Freelance Work</h5>
          <br>
          <p class="card-text">Full Stack Web Development.</p>
          <br>
          <p class="card-text"><small class="text-muted">Technologies:</small></p>
          <img src="{% static 'imgs/py.png' %}" class="ms-3" alt="..." height="40px" width="40px">
          <img src="{% static 'imgs/dj.png' %}" class="ms-3" alt="..." height="40px" width="105spx">
          <img src="{% static 'imgs/pstql.png' %}" class="ms-3" alt="..." height="50px" width="50px">
        </div>
      </div>
    </div>
  </div>

</div>